/* index.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f7;
}

.splash-screen {
  text-align: center;
}

.logo {
  width: 300px; 
  height: auto; 
}

.slogan {
  font-size: 1.5rem;
  font-weight: 500;
  color: #333;
  margin-top: 20px;
}
